<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vaslabs.sdc.ui"
    android:versionCode="9"
    android:versionName="0.0.2.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.vaslabs.acceptance" >
    </instrumentation>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".SensorsActivity"
            android:label="@string/title_activity_sensors" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".SkyDivingSessionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sky_diving_session" >
        </activity>
        <activity
            android:name=".ManageLogsActivity"
            android:label="@string/title_activity_manage_logs" >
        </activity>
        <activity
            android:name=".ValidationActivity"
            android:label="@string/title_activity_validation"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vaslabs.sdc.ui.MainActivity" />
        </activity>
        <activity
            android:name=".contacts.ContactsPickerActivity"
            android:label="@string/title_activity_emergency_contacts"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vaslabs.sdc.ui.MainActivity" />
        </activity>
        <activity
            android:name=".charts.BarometerChartActivity"
            android:label="@string/title_activity_barometer_chart"
            android:parentActivityName=".charts.LogbookActivity"
            android:theme="@style/Theme.AppCompat.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".charts.LogbookActivity" />
        </activity>
        <activity
            android:name=".charts.VelocityChartActivity"
            android:label="@string/title_activity_velocity_chart"
            android:parentActivityName=".charts.LogbookActivity"
            android:theme="@style/Theme.AppCompat.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".charts.LogbookActivity" />
        </activity>
        <activity
            android:name=".charts.LogbookActivity"
            android:label="@string/title_activity_logbook"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vaslabs.sdc.ui.MainActivity" />
        </activity>
        <activity
            android:name=".QRApiScannerActivity"
            android:label="@string/title_activity_qrapi_scanner"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vaslabs.sdc.ui.MainActivity" />
        </activity>
        <activity
            android:name=".charts.LogbookSummaryActivity"
            android:label="@string/title_activity_logbook_summary" >
        </activity>
        <activity
            android:name=".contacts.EmergencyContactsActivity"
            android:label="@string/title_activity_emergency_contacts"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vaslabs.sdc.ui.MainActivity" />
        </activity>
    </application>

</manifest>
